# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Streamlit Cache
.streamlit/

# Chroma DB
chroma/
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
