langchain
python-dotenv
langchain_community
pandas
pypdf
langchain-text-splitters
sentence_transformers
langchain_huggingface
chromadb
langchain_chroma
langchain-core
streamlit
langchain_groq

